<p id="notice"><%= notice %></p>

<h1>Listing Estante Libros</h1>

<table>
  <thead>
    <tr>
      <th>Libro</th>
      <th>Estante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estante_libros.each do |estante_libro| %>
      <tr>
        <td><%= estante_libro.libro.isbn %></td>
        <td><%= estante_libro.estante.name %></td>
        <td><%= link_to 'Show', estante_libro %></td>
        <td><%= link_to 'Edit', edit_estante_libro_path(estante_libro) %></td>
        <td><%= link_to 'Destroy', estante_libro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estante libro', new_estante_libro_path %>
