<p id="notice"><%= notice %></p>

<h1>Listing Estantes</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estantes.each do |estante| %>
      <tr>
        <td><%= estante.id %></td>
        <td><%= estante.name %></td>
        <td><%= estante.user_id %></td>
        <td><%= link_to 'Ver libros', estante_libros_path(estante_id: estante.id) %></td>
        <td><%= link_to 'Show', estante %></td>
        <td><%= link_to 'Edit', edit_estante_path(estante) %></td>
        <td><%= link_to 'Destroy', estante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estante', new_estante_path %>
