<p id="notice"><%= notice %></p>

<h1>Listing Libros</h1>

<table>
   <thead>
      <tr>
         <th>Libro</th>
         <th>Autor</th>
         <th>Rate</th>
         <% if user_signed_in? %>
            <th>Estantes</th>
         <% end %>
         <th colspan="3"></th>
      </tr>
   </thead>

   <tbody>
      <% @libros.each do |libro| %>
         <tr>
            <td>
               <%= libro.title %>
            </td>
            <td>
               <%= libro.authors %>
            </td>
            <td>
               <%= get_book_rate(libro.isbn) %>
            </td>
            <!-- and if it has shelfs -->
            <% if user_signed_in? %>
               <td>
                  <%= form_tag estante_libros_path(libro_isbn: libro.isbn) do %>
                     <%= select_tag :estante_id, options_from_collection_for_select(@estantes, "id", "name") %>
                     <%= submit_tag 'Agregar' %>
                  <% end %>            
               </td>
            <% end %>
         </tr>
      <% end %>
   </tbody>

</table>

<br>
